:root {
    /*Colors*/
    --orange: #fb7413;
    --white: #ffffff;
    --light-gray: #959eac;
    --medium-gray: #7c8798;
    --dark-blue: #252d37;
    --very-dark-blue: #121417;

    /*Typography*/
    --overpass: 'Overpass', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    background-color: var(--very-dark-blue);
    font-family: var(--overpass);
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1.5fr 2fr 1.5fr;
}

.main-container {
    background-color: var(--dark-blue);
    grid-area: 2 / 2 / 3 / 3;
    background-image: linear-gradient(to top, var(--very-dark-blue) 0%, var(--dark-blue) 100%);
    border-radius: 2.3rem;
    padding: 3rem;
}

.star-icon {
    background-color: var(--light-gray);
}

.main-container h1 {
    color: var(--white);
}

.main-container p {
    color: var(--light-gray);
}

.star-icon {
    padding: 1.2rem;
    border-radius: 2rem;
    background-color: var(--dark-blue);
}

.rating ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 2rem 0;
}

.numbers {
    background-color: var(--dark-blue);
    text-align: center;
    width: 1.7rem;
    height: 1.7rem;
    padding: 1.2rem;
    border-radius: 2rem;
}

button {
    width: 100%;
}