:root {
    /*Colors*/
    --orange: #fb7413;
    --white: #ffffff;
    --light-gray: #959eac;
    --medium-gray: #7c8798;
    --dark-blue: rgb(37, 45, 55);
    --very-dark-blue: #121417;

    /*Typography*/
    --overpass: 'Overpass', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    background-color: var(--very-dark-blue);
    font-family: var(--overpass);
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    grid-template-rows: 1.5fr 2fr 1.5fr;
}

.text-center {
    text-align: center;
}

.main-container {
    grid-area: 2 / 2 / 3 / 3;
    background: linear-gradient(to top, #171e28, #1e252f);
    border-radius: 2.3rem;
    padding: 3rem;
    max-width: 33rem;
    margin: auto;
}

.star-icon {
    background-color: #26303b;
}

.main-container h1 {
    color: var(--white);
    font-weight: bold;
    padding-top: 1rem;
}

.main-container p {
    color: var(--light-gray);
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.star-icon {
    padding: 1.25rem;
    border-radius: 2rem;
    background-color: var(--dark-blue);
}

.rating ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 3.1rem 0;
}

.numbers {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #262f38;
    width: 1.7rem;
    height: 1.7rem;
    padding: 1.2rem;
    border-radius: 2rem;
    color: var(--light-gray);
    font-size: 1.2rem;
    margin: 0 .2rem;
}

.numbers:hover {
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
}

.no-hover:hover {
    background-color: var(--light-gray);
}

.button {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.1rem;
    color: var(--white);
    background-color: #fb7413;
    border-radius: 2rem;
    border-style: none;
    letter-spacing: .1rem;
    transition: .25s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--white);
    color: var(--orange);
}

.selected {
    background-color: var(--light-gray);
    color: var(--white);
}

.sombra{
    -webkit-box-shadow: 0px 1px 4px 0.2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 4px 0.2px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 4px 0.2px rgba(0,0,0,0.75);
}

.thank-you {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.msg-container {
    padding: 0rem 7rem;
}

#msg {
    border-radius: 2rem;
    padding: .6rem;
    background: rgb(124, 135, 152, 10%);
    color: var(--orange);
    font-size: 1.5rem;
}